body, ul, li, h1, h2, a { 
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: crimson;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
    white-space: nowrap;
}

header h1{
    font-size: 40px;
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

.banner h2 {
    font-size: 70px;
}

.banner .welcome {
    background-color: brown;
    color: bisque;
    padding: 30px;
    position: absolute;
    left: 0px;
    top: 20%;
}
.banner h2 span {
    font-size: 1.3em;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 105px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    width: 20%;
    display: inline-block;
    font-size: 24px;
    white-space: nowrap;

}

nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    color: black;
    border: 8px solid black;
    border-radius: 36px;
}

body  nav  ul  li:nth-child(3)  a {
    margin: 0 30px;
}

nav li a:hover{
background-color: crimson;
text-decoration: underline;
color: white;
position: relative;
top: -1.5px;
}


nav li a.active {
    background-color: crimson;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0px 40px;
    box-sizing: border-box;
}

article h2 {
    color: crimson;
    font-size: 45px;
    padding: 10px 0px;
    font-weight: 200px;
    text-decoration: underline;
}


article p {
line-height: 2em;
color: black;
}

p::selection{
    background-color: crimson;
    color: white;
}

.images {
    text-align: center;
    margin: 100px 0;
    white-space: nowrap;
}

.images li {
    display: inline-block;
    width: 80%;
    margin: 20px 5%;
}

.images li img{ 
    max-width: 100%;
}

.images li:hover {
position: relative;
top: -4px;
}

/* consolidated code */
.images2, .images3{
    text-align: center;
    margin: 150px 0px;
    padding: 0 50px;
    white-space: nowrap;
}   

/* consolidated code */
.images2 li, .images3 li{ 
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
/* consolidated code */
.images2 li img, .images3 li img {
    max-width: 100%;
}

/* consolidated code */
.images2 li:hover, .images3 li:hover{
    position: relative;
    top: -4px;
}

.contact {
background-color: #f4f4f4;
text-align: center;
padding: 60px 20px;
color: #4b4b4b;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 20px;
}

section.contact {
    background-color: #f4f4f4;
    padding: 20px;
    top: 105px;
}

section.contact li {
    width: 20%;
    display: inline-block;
    font-size: 20px;

}
section.contact ul li {
    text-decoration: none;
    margin: 30px;
    display: inline-block;
    padding: 20px 12px;
    color: black;
    border: 8px solid black;
    border-radius: 36px;
}

section.contact ul li a {
    color: black;
    position: relative;
    top: -3px;
}


section.contact ul li:hover{
    background-color: crimson;
}

section.contact ul li a:hover {
    position: relative;
    top: -5px;
    color: white;
}

footer {
    background-color: crimson;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
    border: 6px solid white;
    border-radius: 30px;
    padding: 6px 12px;
}

/* responsive styles */

@media screen and (max-width:1400px){ 
    .banner .welcome h2 {
        font-size: 60px;
    }
    nav li{
       font-size: 18px; 
    }
    section.contact li{
        font-size:18px;
    }
}
@media screen and (max-width:960px){ 
    .banner .welcome h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:850px){ 
    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2 {
        font-size: 25px;
    }
    .banner .welcome span{
        font-size: 1em;
    }

    .images li, .images2 li, .images3 li {
        width: 100%;
        margin: 20px auto;
        display:block;
    }
    
    section.contact li{
        font-size: 15px;
        display: block;
        width:100%;
        margin: 10px;
        padding: 20px;
    }

    section.contact ul li{
        font-size: 15px;
        margin: 12px;
        border-radius: 60px;
        display: block
    }
    
}

@media screen and (max-width:560px){
    nav li {
        font-size: 20px;
        display: block;
        width:100%;
        margin: 12px;
    }

    body  nav  ul  li:nth-child(3)  a {
        margin: 0 0px;
    }

    section.contact ul li{
        font-size: 15px;
        margin: 12px;
        border-radius: 60px;
        display: block
    }
    
    header{
        position:relative;
    }
    nav{
        top:0;
    }
}