.root {
    
}

body { 
    background-color: #d9dcd6;
}

header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-button {
    padding: 10px;
    border-radius: 40px;
    transition-duration: 0.4s;
    background-color: red;
    margin: 5px;
}

.nav-button a {
    color: white;
}

.nav-button:hover {
    background-color: yellowgreen;
}

.nav-button a:hover {
    color: black;
}
